<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>
<p th:text="${person.getPerson_id()}">person Id</p>
<br>
<p th:text="${person.getName()}">person Name</p>
<br>
<p th:text="${person.getYearOfBirthday()}">person Year Of Birthday</p>
<br>
<div th:if="${person.getTakenBooks().isEmpty()}">
    <div>Doesn't have any book</div>
</div>
<div th:if!="${person.getTakenBooks().isEmpty()}">
    <div>Book:</div>
    <div th:each="book : ${person.getTakenBooks()}">
        <div th:if!="${book.getStitchedNow()}">
            <div th:text="${book.getTitle()}">Any book</div>
        </div>
        <div th:if="${book.getStitchedNow()}">
            <div style="color:gold" th:text="${book.getTitle()}">Any book</div>
        </div>
    </div>
</div>
<br>

<hr>
<a th:href="@{/people/{id}/editPerson(id=${person.getPerson_id()})}">Edit person</a>
<br>

<hr>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getPerson_id()})}">
    <input type="submit" value="Delete"/>
</form>

</body>
</html>